* {
    --text-color: #000000;
    --border-color: #a6a1a1;
    --default-padding: 20px;
    --default-margin: 20px;
    --background-color: #e3dfdf;
}

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}